body {
    background: lightgrey;
    line-height: 2;
    overflow-x: hidden;
    
    /* font-size: 17px; */
}

#name-color {
    font-size: 25px;
    font-weight: bold;
}

.top-nav-right {
    margin-left: 75%;
}

.about-me {
    border-bottom: solid darkred;
    margin: 20px auto;
}

.img-margin {
    margin-top: 20px 0 0 0;
}


.p2-margin {
    margin: 10px 0 20px 20px;
}

.main-body {
    box-shadow: 10px 10px 25px grey;
    margin-top: 20px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    padding-bottom: 40px;
    /* overflow: inherit; */
}

.style-img {
    width: 400px;
    margin-left: 30px;
}

.img-relative {
    position: relative;
}
.text-middle {
    position: absolute;
    background: darkred;
    text-align: center;
    height: 50px;
    width: 266px;
    top: 125px;
    left: 50px;
    z-index: 1;
}

.dark-red {
    background-color: darkred;
    border: none;
}

.dark-red:hover {
    background-color: black;
}

/* form */

.min-message-form {
    min-height: 100px;
    max-height: 200px;
}

/* footer css */

#sticky-footer {
    bottom: 0;
    width: 100%;
    height: 25px;
    line-height: 30px;
    background-color: lightgrey;
    border-top: solid darkred;
    padding-top: 10px;
}

.center-footer {
    margin: 0 auto;
    /* border: solid black; */
}

.center-footer-center {
    margin-left: 45%;
}