html, body {
    overflow-x: hidden;
    height: 100%;
}

body {
    background: lightgrey;
    line-height: 2;
    height: 100%;
    margin: 0;
    padding: 0;
    
    /* font-size: 17px; */
}

#name-color {
    font-size: 25px;
    font-weight: bold;
}

.top-nav-right {
    margin-left: 75%;
}

.about-me {
    border-bottom: solid darkred;
    margin: 20px auto;
}

.home-img {

}

.img-margin {
    margin-top: 20px 0 0 0;
}

.p1-margin {
    margin: 10px 0 20px 20px;
}
.p2-margin {
    margin: 10px 0 20px 20px;
}

.main-body {
    box-shadow: 10px 10px 25px grey;
    margin-top: 20px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    padding-bottom: 40px;
    /* overflow: inherit; */
}

.style-img {
    width: 400px;
    margin-left: 30px;
}

.img-relative {
    position: relative;
}
.text-middle {
    position: absolute;
    background: darkred;
    text-align: center;
    height: 50px;
    width: 390px;
    top: 185px;
    left: 50px;
    z-index: 1;
}

.dark-red {
    background-color: darkred;
    border: none;
}

.dark-red:hover {
    background-color: black;
}

/* form */

.min-message-form {
    min-height: 100px;
    max-height: 200px;
}

/* footer css */

#sticky-footer {
    bottom: 0;
    width: 100%;
    height: 25px;
    line-height: 30px;
    background-color: lightgrey;
    border-top: solid darkred;
    padding-top: 10px;
}

.center-div {
    margin: 0 auto;
    
}

.center-footer-center {
    margin-left: 42%;


}

@media only screen and (max-width: 990px) {
    .text-middle {
        position: absolute;
        background: darkred;
        text-align: center;
        height: 50px;
        width: 305px;
        top: 136px;
        left: 50px;
        z-index: 1;
    }
}


@media only screen and (max-width: 980px) {
    .text-middle {
        position: absolute;
        background: darkred;
        text-align: center;
        height: 50px;
        width: 305px;
        top: 136px;
        left: 50px;
        z-index: 1;
    }
}

@media only screen and (max-width: 766px) {
    .text-middle {
        position: absolute;
        background: darkred;
        text-align: center;
        height: 50px;
        width: 389px;
        top: 166px;
        left: 50px;
        z-index: 1;
    }
}